ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #232323;
    display: flex;
}

.linenumbers {
    padding: 10px;
    color: #777777;
}

.line {
    white-space: pre;
    color: #eeeeee;
    animation: typing 1s steps(28, end) infinite;

    @keyframes typing {
        from {
            width: 0;
        }
    }
}

  