.tab {
    cursor: pointer;
    color: #f1f1f1;
    background-color: #232323;
    margin-left: 100px;
    border-radius: 15px 15px 0px 0px;
    outline: none;
    padding: 10px 20px;
    margin: 0;
    transition: background-color 0.3s;
    position: relative;
    clip-path: polygon( 5% 0%,
                        95% 0%,
                        100% 100%,
                        0% 100%);
    width: 90px;
    text-align: center;
}
.tab:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #ffffff;
}